<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukaszgajos.keepassmob" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.kdb" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.kdbx" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FileBrowserActivity"
            android:label="@string/title_activity_file_browser" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <service
            android:name=".PasswdKeyboard"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".EntryViewActivity"
            android:label="@string/title_activity_entry_view" >
        </activity>
        <activity
            android:name=".EntryEditActivity"
            android:label="@string/title_activity_entry_edit" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".SetMasterKeyActivity"
            android:label="@string/title_activity_set_master_key" >
        </activity>


    </application>

</manifest>
